.heroImg {
  background-color: black;
  height: 400px;
  width: 1300px;
  margin: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 15px #272727;
          box-shadow: 0px 0px 15px #272727;
}

.ftrdPrjctDivLine {
  background-color: black;
  width: 45%;
  height: 5px;
  margin: 20px 0px 20px 0px;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
}

.prjctBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px 0px 0px 0px;
}

.prjctBoxes1_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

.prjctBoxes3_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
}

.prjct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 400px;
  margin-right: 20%;
}

.homePrdctImg {
  width: 95%;
  background-color: blue;
  -webkit-box-shadow: 0px 0px 15px #272727;
          box-shadow: 0px 0px 15px #272727;
}

@media screen and (max-width: 642px) {
  .heroImg {
    width: 400px;
    height: 120px;
  }
  .prjct {
    width: 300px;
    margin-right: 0px;
    margin-left: 50px !important;
  }
  .prjctBoxes1_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10% 100px;
  }
  .prjctBoxes3_4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.galleryNav {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Earth Orbiter", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.galleryNav ul li {
  font-size: 28px;
  display: inline;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 2%;
  margin-right: 2%;
}

.galleryNav ul li a {
  color: black;
  text-decoration: none;
  font-family: "Earth Orbiter Title";
}

.galleryNav ul li a:hover {
  color: #00b799;
  font-weight: bold;
}

.galleryNav a.active {
  color: #00b799;
}

.titleDesc {
  width: 40%;
  margin-right: 10%;
}

.galleryPrjct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
}

.galleryDivLines {
  width: 4px;
  height: 125px;
  background-color: black;
  margin-top: 52px;
}

.prjctImgallery {
  width: 400px;
  height: 225px;
  background-color: black;
  margin-left: 100px;
  -webkit-box-shadow: 0px 0px 15px #272727;
          box-shadow: 0px 0px 15px #272727;
}

.demoReel {
  width: 640px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px 60px 14%;
}

.galleryContent {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 12%;
}

@media screen and (max-width: 642px) {
  .galleryContent {
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 2%;
  }
  .galleryNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galleryPrjct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 80px;
    margin-left: 20px;
    width: 100%;
  }
  .prjctImgallery {
    width: 300px;
    height: 175px;
    background-color: black;
    margin-left: 0px;
    margin-top: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .galleryDivLines {
    width: 125px;
    height: 4px;
    background-color: black;
    margin: 2px 0px 0px 0px;
  }
  .demoReel {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0px 0px 0%;
  }
}

.mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0px 0px;
}

.textArea {
  width: 40%;
  margin: 0px 10px 0px 10px;
}

.profileImg {
  margin: 10px 0px 0px 100px;
}

.profilePic {
  -webkit-box-shadow: 0px 0px 15px #272727;
          box-shadow: 0px 0px 15px #272727;
}

.ProgramLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.otherList {
  margin-left: 90px;
}

.programs {
  margin-top: 60px;
}

@media screen and (max-width: 642px) {
  .mainPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 11%;
  }
  .textArea {
    width: 80%;
    margin: 0px 10px 0px 0px;
  }
  .profileImg {
    margin: 10px 100px 0px 0px;
  }
}

.contentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% 0px 0px 0px;
}

.contactTxt {
  width: 30%;
}

.aboutDivLine {
  width: 4px;
  height: 500px;
  margin: 2% 100px 0px 100px;
  background-color: black;
}

#mail-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  display: block;
  margin: 1.5em 0 0.3em;
  font-family: "Earth Orbiter", sans-serif;
  font-size: 18px;
  padding-left: 0.4em;
}

label:first-of-type {
  margin-top: 0;
}

input[type=text], input[type=email], textarea {
  padding: 0.6em;
  color: black;
  border: 2.5px solid black;
  background-color: #afafaf;
  border-radius: 20px;
  font-size: 12px;
  width: 250px;
  font-family: "Earth Orbiter", sans-serif;
}

textarea {
  resize: none;
  display: block;
}

.submit {
  margin: 0px 10px 0px 10px;
  font-size: 16px;
}

.submit-wrapper {
  display: inline-block;
  margin-top: 20px;
  padding: 0.75rem 1rem;
  border-radius: 30px;
  border-color: black;
  background-color: #00b799;
  cursor: pointer;
  font-size: 1.2em;
  color: black;
  width: 80px;
  font-family: "Earth Orbiter", sans-serif;
  border: 2.5px solid black;
}

.submit-wrapper:hover {
  background-color: #009e84;
}

.submit-wrapper span {
  padding-right: 0.5em;
}

@media screen and (max-width: 642px) {
  .contentSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactTxt {
    width: 80%;
  }
  .aboutDivLine {
    width: 80%;
    height: 4px;
    margin: 0 0px 0px 0px;
    background-color: black;
  }
  #mail-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
  }
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Earth Orbiter", sans-serif;
  height: 100%;
}

.logoHeader {
  width: 80%;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 14% 0px 0px 10%;
}

.mainNav {
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff4200), to(#ff9001));
  background: linear-gradient(90deg, #ff4200 0%, #ff9001 100%);
  -webkit-box-shadow: 10px 0px 20px #696969;
          box-shadow: 10px 0px 20px #696969;
}

.mainNav ul {
  margin-left: 14%;
  padding: 0 !important;
}

.mainNav ul li {
  font-size: 1.5vw;
  display: inline;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainNav ul li a {
  color: black;
  text-decoration: none;
}

.mainNav ul li a:hover {
  color: #00b799;
  font-weight: bold;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.vl {
  width: 4px;
  height: 100%;
  margin: 0px 0px 0px 100%;
  background-color: black;
  position: absolute;
}

@font-face {
  font-family: "Earth Orbiter";
  src: url("assets/fonts/earth_orbiter/earthorbiter.ttf");
}

@font-face {
  font-family: "Earth Orbiter Extra Bold";
  src: url("assets/fonts/earth_orbiter/earthorbiterxtrabold.ttf");
}

@font-face {
  font-family: "Earth Orbiter Title";
  src: url("assets/fonts/earth_orbiter/earthorbitertitle.ttf");
}

.hidden {
  display: none;
}

#siteContainer {
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  margin-left: 170px;
}

.mainHeader {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: left;
          flex-direction: left;
}

.body {
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

h1 {
  font-size: 30px;
  color: #00b799;
  font-family: "Earth Orbiter Title", Arial, sans-serif;
}

h2 {
  font-family: "Earth Orbiter", Arial, sans-serif;
  margin: 10px 0px 0px 0px;
}

h3 {
  font-family: "Earth Orbiter", Arial, sans-serif;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}

p {
  font-family: "Earth Orbiter", Arial, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 642px) {
  #siteContainer {
    margin-left: 40px;
  }
}

.mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
}

.footerLineDiv {
  background-color: black;
  width: 100%;
  height: 4px;
  margin: 20px 0px 20px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Earth Orbiter", sans-serif;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}

.footerNav ul li {
  font-size: 30px;
  display: inline;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 10px;
}

.footerNav ul li a {
  color: black;
  text-decoration: none;
}

.footerNav ul li a:hover {
  color: orange;
  font-weight: bold;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
}

.svgIcon {
  width: 90%;
}

.copyright {
  height: 16px;
  font-family: "Earth Orbiter", sans-serif;
  font-size: 18px;
  color: black;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 642px) {
  .footerNav ul li {
    display: inline;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 10px;
  }
  .footerLineDiv {
    background-color: black;
    width: 90%;
    height: 4px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=master.css.map */