.contentSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0px 0px 0px;
}

.contactTxt {
    width: 30%;
}

.aboutDivLine {
    width: 4px;
    height: 500px;
    margin: 2% 100px 0px 100px;
    background-color: black;
}



#mail-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label { 
    display: block;
    margin: 1.5em 0 0.3em;
    font-family: "Earth Orbiter", sans-serif;
    font-size: 18px;
    padding-left: 0.4em;
    &:first-of-type {
        margin-top: 0;
    }
}

input[type=text], input[type=email], textarea {
    padding: 0.6em;
    color: black;
    border: 2.5px solid black;
    background-color: rgb(175, 175, 175);
    border-radius: 20px;
    font-size: 12px;
    width: 250px;
    font-family: "Earth Orbiter", sans-serif;
}

textarea { resize: none; display: block; }

.submit {
    margin: 0px 10px 0px 10px;
    font-size: 16px;
    
}

.submit-wrapper {
    display: inline-block;
    margin-top: 20px;
    padding: 0.75rem 1rem;
    border-radius: 30px;
    border-color: black;
    background-color: #00b799;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    &:hover { background-color: #009e84}
    span { padding-right: 0.5em; }
    width: 80px;
    font-family: "Earth Orbiter", sans-serif;
    border: 2.5px solid black;
}

