.galleryNav {
    display: inline;
	justify-content: center;
    font-family: "Earth Orbiter", sans-serif;
    align-self: center;
}

.galleryNav ul li {   
	font-size: 28px;
	display: inline;
	cursor: pointer;
	flex-direction: row;
	justify-content: space-evenly;
    margin-left: 2%;
    margin-right: 2%;
}

.galleryNav ul li a {  
	color: black;
    text-decoration: none;
    font-family: "Earth Orbiter Title";
}

.galleryNav ul li a:hover {
	color: #00b799;
	font-weight: bold;
}

.galleryNav a.active {
    color:  #00b799;
}

.titleDesc {
    width: 40%;
    margin-right: 10%; 
}

.galleryPrjct {
    display: flex;
    flex-direction: row;
    margin-top: 80px
}

.galleryDivLines {
    width: 4px;
    height: 125px;
    background-color: black;
    margin-top: 52px;
}



.prjctImgallery {
    width: 400px;
    height: 225px;
    background-color: black;
    margin-left: 100px;
}

.demoReel {
    width: 640px;
    height: 360px;    
    display: flex;
    justify-content: center; 
    margin: 10px 0px 60px 14%;
}

.galleryContent {
    align-content: center;
    margin-left: 12%;
}